<table border="1" class="dataframe table table-stripped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Name</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Age</th>
      <th>Gender</th>
      <th>BMI</th>
      <th>BMR</th>
      <th>Activity</th>
      <th>Daily Calories needed</th>
      <th>Daily carbs needed</th>
      <th>Daily protein needed</th>
      <th>Daily fat needed</th>
      <th>Food consumed</th>
      <th>Total cals consued</th>
      <th>Total carbs consued</th>
      <th>Total protein consued</th>
      <th>Total fat consued</th>
      <th>Carbs remaining</th>
      <th>Fats remaining</th>
      <th>Protein remaining</th>
      <th>Total calories remaining</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>2023-12-11</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Fried chicken</td>
      <td>19.270</td>
      <td>0.00</td>
      <td>8.560</td>
      <td>10.710</td>
      <td>147.41937</td>
      <td>54.80972</td>
      <td>187.99916</td>
      <td>1946.3216</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2023-12-11</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Cheesecake</td>
      <td>69.796</td>
      <td>29.44</td>
      <td>5.616</td>
      <td>34.740</td>
      <td>117.97937</td>
      <td>30.77972</td>
      <td>190.94316</td>
      <td>1895.7956</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2023-12-14</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Cheesecake</td>
      <td>34.898</td>
      <td>14.72</td>
      <td>2.808</td>
      <td>17.370</td>
      <td>132.69937</td>
      <td>48.14972</td>
      <td>193.75116</td>
      <td>1930.6936</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2023-12-14</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Cheesecake</td>
      <td>34.898</td>
      <td>14.72</td>
      <td>2.808</td>
      <td>17.370</td>
      <td>132.69937</td>
      <td>48.14972</td>
      <td>193.75116</td>
      <td>1930.6936</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2023-12-14</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Pilaf</td>
      <td>13.683</td>
      <td>9.64</td>
      <td>1.316</td>
      <td>2.727</td>
      <td>137.77937</td>
      <td>62.79272</td>
      <td>195.24316</td>
      <td>1951.9086</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2023-12-14</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Elote</td>
      <td>26.680</td>
      <td>26.68</td>
      <td>0.000</td>
      <td>0.000</td>
      <td>120.73937</td>
      <td>65.51972</td>
      <td>196.55916</td>
      <td>1938.9116</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2023-12-14</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Fried chicken</td>
      <td>192.700</td>
      <td>0.00</td>
      <td>85.600</td>
      <td>107.100</td>
      <td>147.41937</td>
      <td>-41.58028</td>
      <td>110.95916</td>
      <td>1772.8916</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2023-12-16</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Fried chicken</td>
      <td>19.270</td>
      <td>0.00</td>
      <td>8.560</td>
      <td>10.710</td>
      <td>147.41937</td>
      <td>54.80972</td>
      <td>187.99916</td>
      <td>1946.3216</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2024-01-16</td>
      <td>ak</td>
      <td>175.0</td>
      <td>64.0</td>
      <td>26.0</td>
      <td>male</td>
      <td>0.00209</td>
      <td>1637.993</td>
      <td>1.2</td>
      <td>1965.5916</td>
      <td>147.41937</td>
      <td>196.55916</td>
      <td>65.51972</td>
      <td>Pilaf</td>
      <td>13.683</td>
      <td>9.64</td>
      <td>1.316</td>
      <td>2.727</td>
      <td>137.77937</td>
      <td>62.79272</td>
      <td>195.24316</td>
      <td>1951.9086</td>
    </tr>
  </tbody>
</table>